@import '../../css/variables.css';

.rightContent {
	display: grid;
	grid-template-rows: 150px calc(100% - 150px);
	grid-template-columns: 400px;
	background-color: var(--main-color);
}

.rightMenuToggle {
	display: none;
}

/* Media */
@media only all and (max-width: 1450px) {
	.rightContent {
		grid-template-columns: minmax(350px, 1fr);
	}
}
@media only all and (max-width: 750px) {
	.rightContent {
		position: absolute;
		right: 0;
		transition: transform 0.5s ease-in-out, box-shadow 0.3s ease;
		box-shadow: 2px 0px 8px #1f1f1f;
	}
	.rightContent.rightContentHidden {
		transform: translateX(350px);
		box-shadow: none;
	}
	.rightMenuToggle {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 30%;
		right: 0;
		width: 35px;
		height: 60px;
		font-size: 40px;
		color: var(--hover-color);
		background-color: var(--main-color);
		transition: transform 0.5s ease-in-out;
		cursor: pointer;
		border-radius: var(--border-mini-radius) 0 0 var(--border-mini-radius);
		filter: drop-shadow(0px 0px 2px #1b5e96);
	}
	.rightMenuToggle img {
		width: 30px;
		transition: transform 0.5s ease-in-out;
	}
	.rightMenuToggle:before {
		content: '';
		position: absolute;
		right: 0;
		width: 10px;
		height: 10px;
		top: -10px;
		background: radial-gradient(
			circle farthest-side at top left,
			transparent 100%,
			var(--main-color) 0%
		);
	}
	.rightMenuToggle:after {
		content: '';
		position: absolute;
		right: 0;
		width: 10px;
		height: 10px;
		bottom: -10px;
		background: radial-gradient(
			circle farthest-side at bottom left,
			transparent 100%,
			var(--main-color) 0%
		);
	}
	.rightMenuToggleActive {
		transform: translateX(-350px);
	}
	.rightMenuToggleActive img {
		transform: rotate(180deg);
	}
}
@media only all and (max-width: 450px) {
	.rightMenuToggle {
		display: none;
	}
	.rightContent {
		grid-template: 150px calc(100%-150px) / 350px;
	}
}
