.exerciseListWrapper {
	background: radial-gradient(
			circle farthest-corner,
			rgba(255, 255, 255, 0) 50%,
			rgba(200, 200, 200, 1)
		),
		radial-gradient(
			circle,
			rgba(255, 255, 255, 0.35),
			rgba(255, 255, 255, 0) 20%,
			rgba(255, 255, 255, 0) 21%
		),
		radial-gradient(circle farthest-corner, #f0f0f0, #c0c0c0);
	padding: 10px;
	border-radius: 4px;
	display: grid;
	grid-template-rows: 40px 1fr;
	grid-row-gap: 10px;
}
.exerciseListHeader {
	display: flex;
	align-items: center;
	justify-content: center;
}
.exerciseListHeader h2 {
	margin: 0;
}
.exerciseListContainer {
	display: grid;
	grid-template: auto / 1fr 1fr 1fr;
	grid-gap: 10px 10px;
	max-height: calc(100vh - 190px);
	min-width: 990px;
	overflow-y: scroll;
	scrollbar-width: thin;
}
.emptyChapList {
	max-height: calc(100vh - 190px);
	text-align: center;
}
.exerciseListContainer::-webkit-scrollbar {
	width: 5px; /* ширина для вертикального скролла */
	height: 10px;
	background-color: transparent;
}
.exerciseListContainer::-webkit-scrollbar-thumb {
	background-color: #646464a4;
	border-radius: 4px;
	/* box-shadow: inset 1px 1px 10px #f3faf7; */
	cursor: pointer;
}
/* Media */

@media only all and (max-width: 1000px) {
	.exerciseListContainer {
		grid-template: auto / 1fr;
	}
}
