.programList {
	width: 100%;
	padding: 10px 10px 5px;

	background-color: #4da4ff;
	display: flex;
	flex-direction: column;
}
.programHeader {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}
.programHeader h2 {
	margin: 0;
	text-align: center;
}
.programListContent {
	max-height: 100%;
	overflow-y: auto;
}
.programListContent::-webkit-scrollbar {
	padding-left: 5px;
	width: 5px;
	background-color: transparent;
}
.programListContent::-webkit-scrollbar-thumb {
	background-color: #0654a6;
	border-radius: 2px;
	cursor: pointer;
}
/* addChapter */
.addChapterWrapper {
	margin-bottom: 10px;
	position: relative;
}

/* Search */
.searchChapterWrapper {
	margin: 0 10% 10px;
	position: relative;
}
.chapterNotFound {
	text-align: center;
	font-weight: 600;
	margin-bottom: 10px;
}

/* Media */

/* @media only all and (max-width: 7500px) {
	.programList {
		margin-bottom: 10px;
	}
} */
