@import '../../css/variables.css';

.programList {
	position: relative;
	width: 100%;
	padding: 0 5px 10px;
	background-color: var(--main-color);
	height: calc(100vh - 160px - 70px - 10px);
	display: flex;
	flex-direction: column;
}
.programHeader {
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}
.programHeader h2 {
	margin: 0;
	text-align: center;
	color: var(--header-color);
}
.programListContent {
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0 5px;
}
.programListContent::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
	cursor: pointer;
}
.programListContent::-webkit-scrollbar-button:vertical:start:decrement {
	background: linear-gradient(120deg, var(--main-color) 30%, transparent 35%),
		linear-gradient(240deg, var(--main-color) 30%, transparent 35%),
		linear-gradient(0deg, var(--main-color) 10%, transparent 20%);
	background-color: var(--scroll-color);
	cursor: pointer;
}

.programListContent::-webkit-scrollbar-button:vertical:end:increment {
	background: linear-gradient(300deg, var(--main-color) 30%, transparent 35%),
		linear-gradient(60deg, var(--main-color) 30%, transparent 35%),
		linear-gradient(180deg, var(--main-color) 10%, transparent 20%);
	background-color: var(--scroll-color);
	cursor: pointer;
}
.programListContent::-webkit-scrollbar-thumb {
	background-color: var(--scroll-color);
	border-radius: var(--border-mini-radius);
	cursor: pointer;
}

/* Search */
.searchChapterWrapper {
	margin: 0 5% 10px;
	position: relative;
}
.chapterNotFound {
	display: flex;
	align-items: center;
	height: 40px;
	justify-content: center;
	font-weight: 600;
}

/* Media */

/* @media only all and (max-width: 7500px) {
	.programList {
		margin-bottom: 10px;
	}
} */
