@import '../../css/variables.css';

.programList {
	width: 100%;
	padding: 0 5px 10px 10px;
	background-color: var(--main-color);
	max-height: calc(100% - 180px);
}
.programHeader {
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}
.programHeader h2 {
	margin: 0;
	text-align: center;
	color: var(--header-color);
}
.programListContent {
	max-height: calc(100% - 80px);
	overflow-y: auto;
}
.programListContent::-webkit-scrollbar {
	padding-left: 5px;
	width: 5px;
	background-color: transparent;
	cursor: pointer;
}
.programListContent::-webkit-scrollbar-thumb {
	background-color: #0654a6;
	border-radius: 2px;
	cursor: pointer;
}

/* Search */
.searchChapterWrapper {
	margin: 0 5% 10px;
	position: relative;
}
.chapterNotFound {
	display: flex;
	align-items: center;
	height: 40px;
	justify-content: center;
	font-weight: 600;
}

/* Media */

/* @media only all and (max-width: 7500px) {
	.programList {
		margin-bottom: 10px;
	}
} */
