@import '../../css/variables.css';

/* edit */
.editWrapper {
	padding: 10px;
	background-color: var(--main-color);
}
.editContainer {
	display: grid;
	grid-template-rows: 40px 40px;
	grid-gap: 20px;
}
.editContainer div {
	display: flex;
	align-items: center;
}
.editHeader {
	margin-bottom: 10px;
	height: 30px;
}
.editHeader h2 {
	margin: 0;
	text-align: center;
	color: var(--header-color);
}

.addChapterWrapper {
	position: relative;
}

.formLinkButWrapper {
	display: flex;
	justify-content: center;
}
.formLinkButWrapper a {
	width: 100%;
}
.formLinkBut {
	height: 40px;
	width: 100%;
}
