@import '../../css/variables.css';

.programItem {
	background-color: var(--main-third-color);
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	border-radius: var(--border-mini-radius);
	cursor: pointer;
	font-weight: 500;
	transition: all 0.3s ease;
}
/* .programItem:hover {
	box-shadow: 0 0 3px #000;
} */
.chapterDelIcon {
	width: 30px;
	transform: scale(0);
	transition: transform 0.2s ease;
}
.programItem:hover .chapterDelIcon {
	transform: scale(1.05);
}
