@import '../../css/common.css';
@import '../../css/variables.css';
@import '../formPage/formPage.css';

.authWrapper {
	height: var(--content-height);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
}
.authWrapper h3 {
	margin-bottom: 15px;
	text-align: center;
}
.authForm {
	width: 700px;
	border-radius: var(--border-radius);
	background-color: var(--main-color);
	padding: 10px;
}
.authInfo {
	margin-bottom: 5px;
}
.authError {
	color: var(--red-color);
}
.authIconsWrapper {
	display: flex;
	justify-content: center;
}
.authButsWrapper {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.authIconsContainer {
	background-color: var(--main-third-color);
	width: 70px;
	height: 70px;
	padding: 5px;
	border-radius: var(--border-mini-radius);
	cursor: pointer;
}
.authIconsContainer:hover img {
	filter: drop-shadow(0 0 3px var(--button-color));
}
.authIconsContainer img {
	width: 100%;
	height: 100%;
	transition: filter 0.1s ease-in;
}
