@import '../../css/common.css';
@import '../../css/variables.css';
@import '../formPage/formPage.css';

.authForm {
	display: grid;
	grid-template-rows: auto;
	grid-gap: 15px;
	width: 600px;
	border-radius: var(--border-radius);
	background-color: var(--main-color);
	padding: 10px;
}
.authForm .formHeader {
	margin: 0 0 5px;
}
.authInfo {
	margin-bottom: 5px;
}
.authError {
	color: var(--red-color);
}
.authIconsWrapper {
	display: flex;
	justify-content: center;
}
.authButsWrapper {
	grid-template-columns: 1fr 1fr;
}
.authBut {
	justify-self: center;
	width: 80%;
	height: 50px;
}
.authIconsContainer {
	background-color: var(--main-third-color);
	width: 70px;
	height: 70px;
	padding: 5px;
	border-radius: var(--border-mini-radius);
	cursor: pointer;
}
.authIconsContainer:hover img {
	filter: drop-shadow(0 0 3px var(--button-color));
}
.authIconsContainer img {
	width: 100%;
	height: 100%;
	transition: filter 0.1s ease-in;
}

@media only all and (max-width: 750px) {
	.authForm {
		width: 100%;
		grid-gap: 10px;
	}
}
