@import '../../css/variables.css';

.cardItemWrapper {
	position: relative;
	background-color: var(--main-third-color);
	padding: 10px 50px 10px 10px;
	min-height: 120px;
	border-radius: var(--border-radius);
}
.cardItemHeader {
	margin: 0;
	overflow: hidden;
}
.cardItemDescriptionWrapper {
	max-width: 260px;
	display: grid;
	grid-template: 45px 50px / 260px;
	grid-row-gap: 10px;
}
.cardItemDescriptionWrapper p {
	position: relative;
	margin: 0;
	overflow: hidden;
}
.cardItemDescriptionWrapper p::after {
	content: '';
	height: 0.75em;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: linear-gradient(180deg, transparent, var(--main-third-color));
}

.delIcon-chapItem {
	cursor: pointer;
	height: 30px;
}
.delIcon-chapItem:hover,
.browserIcon:hover,
.infoIcon:hover {
	transform: scale(1.05);
}

.controlWrapper {
	padding: 3px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: var(--inactive-color);
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 100%;
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.controlContainer {
	width: 30px;
	height: 30px;
}
/* Media */

/* @media only all and (max-width: 1430px) {
	.cardItemWrapper {
		padding: 10px;
	}
	.cardItemImgWrapper {
		flex-basis: 150px;
	}
	.descriptionBut {
		margin-right: 5px;
	}
}
@media only all and (max-width: 1000px) {
	.cardItemWrapper div {
		flex-grow: 1;
	}
	.descriptionBut {
		margin-right: 10px;
	}
} */
