@import '../../css/variables.css';

.cardItemWrapper {
	position: relative;
	background-color: var(--main-third-color);
	padding: 10px;
	min-height: 90px;
	border-radius: var(--border-mini-radius);
	box-shadow: 0px 1px 5px var(--hover-color);
	cursor: pointer;
	transition: transform 0.2s ease-in, opacity 0.4s ease-out;
	transform-style: preserve-3d;
	will-change: transform;
}
.cardItemWrapper:hover {
	box-shadow: 0 0 6px var(--hover-color);
	transform: scale(1.01);
}
.cardItemWrapper:active {
	transform: scale(0.95);
}
.cardItemContainer {
	overflow: hidden;
}
.cardItemHeader {
	margin: 0;
	overflow: hidden;
	font-size: var(--h4Size);
	font-weight: 600;
}
.cardItemDescriptionLinkWrapper {
	display: grid;
	grid-template: auto 20px 30px / 1fr;
	grid-row-gap: 5px;
}
.cardItemDescriptionNoLinkWrapper {
	display: grid;
	grid-template: 20px 60px / 1fr;
	grid-row-gap: 5px;
}
.cardItemLink {
	font-size: var(--defaultSize);
	text-decoration: underline;
	color: var(--main-color);
	transition: text-shadow 0.3s ease;
}
.cardItemLink:hover {
	text-shadow: 0 0 1px var(--hover-color);
}
.cardItemNoLink {
	color: var(--text-description-color);
}
.cardItemDescription {
	margin: 0;
	height: 100%;
	font-size: var(--descrSize);
	line-height: 15px;
	color: var(--text-description-color);
	overflow-wrap: break-word;
}

/* Animation */
.card-item-appear,
.card-item-enter {
	transform: scale(0.8) translateY(-50%) rotateX(7deg);
	opacity: 0;
}
.card-item-appear-done,
.card-item-enter-done,
.card-item-exit {
	transform: scale(1) translateY(0) rotateX(0);
	opacity: 1;
}
.card-item-exit-active {
	transform: scale(0.8) translateY(50%) rotateX(-7deg);
	opacity: 0;
}
