@import '../../css/variables.css';

.cardItemWrapper {
	position: relative;
	background-color: var(--main-third-color);
	padding: 10px;
	min-height: 110px;
	border-radius: var(--border-mini-radius);
	box-shadow: 0 0 4px var(--hover-color);
	cursor: pointer;
	transition: transform 0.2s ease-in;
}
.cardItemWrapper:hover {
	box-shadow: 0 0 8px var(--hover-color);
}
.cardItemWrapper:active {
	transform: scale(0.95);
}
.cardItemContainer {
	overflow: hidden;
}
.cardItemHeader {
	margin: 0;
	overflow: hidden;
	font-size: var(--h3Size);
	font-weight: 600;
}
.cardItemDescriptionLinkWrapper {
	display: grid;
	grid-template: 20px 20px 30px / 1fr;
	grid-row-gap: 10px;
}
.cardItemDescriptionNoLinkWrapper {
	display: grid;
	grid-template: 20px 60px / 1fr;
	grid-row-gap: 10px;
}
.cardItemLink {
	font-size: var(--defaultSize);
	text-decoration: underline;
	color: var(--main-color);
}
.cardItemLink:hover {
	text-shadow: 0 0 1px var(--hover-color);
}
.cardItemNoLink {
	color: var(--text-description-color);
}
.cardItemDescription {
	margin: 0;
	height: 100%;
	font-size: var(--minSize);
	line-height: 15px;
	color: var(--text-description-color);
	overflow-wrap: break-word;
}
