.modalOverlay {
	background-color: rgba(128, 128, 128, 0.4);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modalWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 15px;
	max-width: 350px;
	background-color: rgb(253, 152, 152);
	border-radius: 5px;
}
.modalDescription p:first-of-type {
	margin-top: 0;
}
.modalDescription p:last-of-type {
	margin: 0;
}
.modalButWrapper {
	display: flex;
}
.modalBut {
	width: 70px;
	cursor: pointer;
}
.greenBut {
	background-color: #5fcc5f;
	margin-right: 15px;
}
