@import '../../css/variables.css';

.modalOverlay {
	background-color: rgba(128, 128, 128, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}
.modalWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 15px;
	max-width: 350px;
	background-color: var(--main-color);
	border-radius: var(--border-radius);
	z-index: 10;
}
.modalDescription {
	color: var(--header-color);
	font-size: var(--defaultSize);
}
.modalDescription p:first-of-type {
	margin-top: 0;
}
.modalDescription p:last-of-type {
	margin: 0;
}
.modalButWrapper {
	display: flex;
}
.modalBut {
	font-size: var(--butSize);
	color: var(--header-color);
	width: 100px;
	height: 30px;
}
.modalGreenBut {
	margin-right: 15px;
	background-color: var(--green-color);
}
.modalRedBut {
	background-color: var(--red-color);
}
