@import '../../css/variables.css';

.cardListWrapper {
	padding: 5px 5px 0;
	display: grid;
	grid-template-rows: minmax(min-content, max-content) 1fr;
	grid-row-gap: 10px;
	max-height: 100%;
}
.firstLoadWrapper {
	color: var(--header-color);
	text-align: center;
}
.cardListHeader {
	display: grid;
	grid-template-columns: [header-start addBut-start] 1fr [addBut-end search-start] 1fr [header-end search-end];
	grid-template-rows: [header-start] 1fr [header-end addBut-start search-start] 30px [addBut-end search-end];
	grid-gap: 10px;
	align-items: center;
	overflow: hidden;
	padding: 0 5px 5px;
}

.cardListHeader > h3 {
	grid-area: header;
}
.cardListFastAddButWrapper {
	grid-area: addBut;
}
.cardSearchWrapper {
	justify-self: flex-end;
	grid-area: search;
}

.cardListHeader h3 {
	text-align: center;
	margin: 0;
	text-overflow: ellipsis;
	color: var(--header-color);
	font-size: var(--h3Size);
}
.fastAddBut {
	min-height: 30px;
	width: 250px;
}
.fastAddIcon.but {
	display: none;
	height: 50px;
	width: 50px;
	position: absolute;
	right: 5vh;
	bottom: 10vh;
}
.cardSearchWrapper {
	width: 250px;
	padding: 5px 0;
}
.cardListContainer {
	display: grid;
	grid-template: 110px / 1fr 1fr 1fr;
	grid-gap: 10px 10px;
	max-height: 100%;
	overflow-y: auto;
	scrollbar-width: thin;
	padding: 10px 5px;
}
.emptyCardList {
	text-align: center;
	color: var(--header-color);
}
.emptyCardList h4 {
	font-size: var(--h4Size);
}
.cardListContainer::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
}
.cardListContainer::-webkit-scrollbar-thumb {
	background-color: var(--scroll-color);
	border-radius: var(--border-mini-radius);
	cursor: pointer;
}
.cardListContainer::-webkit-scrollbar-button:vertical:start:decrement {
	background: linear-gradient(120deg, var(--main-second-color) 30%, transparent 35%),
		linear-gradient(240deg, var(--main-second-color) 30%, transparent 35%),
		linear-gradient(0deg, var(--main-second-color) 10%, transparent 20%);
	background-color: var(--scroll-color);
	cursor: pointer;
}

.cardListContainer::-webkit-scrollbar-button:vertical:end:increment {
	background: linear-gradient(300deg, var(--main-second-color) 30%, transparent 35%),
		linear-gradient(60deg, var(--main-second-color) 30%, transparent 35%),
		linear-gradient(180deg, var(--main-second-color) 10%, transparent 20%);
	background-color: var(--scroll-color);
	cursor: pointer;
}

/* Media */
@media only all and (max-width: 1200px) {
	.cardListWrapper {
		grid-gap: 5px;
	}
	.cardListContainer {
		grid-template: 110px / 1fr 1fr;
	}
	.cardListHeader {
		grid-gap: 5px;
	}
}
@media only all and (max-width: 900px) {
	.cardListHeader {
		grid-gap: 10px;
	}
	.cardListContainer {
		grid-template: auto / 1fr;
	}
	.fastAddBut {
		width: 100%;
		justify-self: stretch;
	}
	.cardSearchWrapper {
		width: 100%;
		justify-self: stretch;
	}
}
@media only all and (max-width: 750px) {
	.cardListHeader {
		grid-template: [header-start] 1fr [header-end search-start] 30px [search-end] / [header-start search-start] 1fr [header-end search-end];
	}
	.cardListContainer {
		grid-template: auto / 1fr 1fr;
	}
	.cardSearchWrapper {
		width: 80%;
		justify-self: center;
	}
	.cardListFastAddButWrapper {
		display: none;
	}
	.fastAddIcon.but {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media only all and (max-width: 500px) {
	.cardSearchWrapper {
		width: 100%;
		justify-self: stretch;
	}
	.cardListContainer {
		grid-template: auto / 1fr;
	}
}
