@import '../../css/variables.css';

.cardListWrapper {
	padding: 10px 5px 10px 10px;
	display: grid;
	grid-template-rows: 30px 1fr;
	grid-row-gap: 10px;
	max-height: 100%;
}
.cardListHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.cardListHeader h2 {
	margin: 0;
	max-height: 1em;
	text-overflow: ellipsis;
	color: var(--header-color);
}
.cardListContainer {
	display: grid;
	grid-template: 120px / 1fr 1fr 1fr;
	grid-gap: 10px 10px;
	max-height: 100%;
	min-width: 990px;
	overflow-y: auto;
	scrollbar-width: thin;
	padding-right: 5px;
}
.emptyCardList {
	text-align: center;
	color: var(--header-color);
}
.cardListContainer::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
}
.cardListContainer::-webkit-scrollbar-thumb {
	background-color: var(--scroll-color);
	border-radius: var(--border-mini-radius);
	cursor: pointer;
}
.cardListContainer::-webkit-scrollbar-button:vertical:start:decrement {
	background: linear-gradient(120deg, var(--main-second-color) 30%, transparent 35%),
		linear-gradient(240deg, var(--main-second-color) 30%, transparent 35%),
		linear-gradient(0deg, var(--main-second-color) 10%, transparent 20%);
	background-color: var(--scroll-color);
	cursor: pointer;
}

.cardListContainer::-webkit-scrollbar-button:vertical:end:increment {
	background: linear-gradient(300deg, var(--main-second-color) 30%, transparent 35%),
		linear-gradient(60deg, var(--main-second-color) 30%, transparent 35%),
		linear-gradient(180deg, var(--main-second-color) 10%, transparent 20%);
	background-color: var(--scroll-color);
	cursor: pointer;
}

/* Media */
@media only all and (max-width: 1000px) {
	.cardListContainer {
		grid-template: auto / 1fr;
	}
}
