@import '../../css/variables.css';

.header {
	position: relative;
	display: grid;
	grid-template-columns: 1030px 400px;
	padding: 5px 0;
	background-color: var(--main-color);
}
.header a {
	color: var(--header-color);
	text-decoration: none;
}
.mainHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px auto;
	padding: 0 10px;
	height: 60px;
}
.mainHeader h1 {
	margin: 0;
	font-size: 40px;
}
.clockWrapper {
	display: flex;
	justify-content: center;
	padding: 0 10px;
}
.userAuthIconWrapper {
	position: absolute;
	right: 5px;
	height: 70px;
	/* width: 50px; */
	padding: 5px;
	cursor: pointer;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.userAuthIconWrapper img {
	height: 40px;
	margin: 0 auto;
}
.userAuthIconWrapper div {
	color: var(--header-color);
}
/* Media */

@media only all and (max-width: 1430px) {
	.header {
		grid-template-columns: 2fr 1fr;
	}
}
@media only all and (max-width: 900px) {
	.mainHeader {
		margin: 0 auto;
	}
}
@media only all and (max-width: 750px) {
	.header {
		grid-gap: 5px;
		grid-template-columns: 1fr;
		margin-bottom: 0;
		padding: 5px;
	}
	.mainHeader {
		height: 50px;
	}
}
@media only all and (max-width: 500px) {
	.header {
		padding: 5px;
	}
}
