@import '../../css/variables.css';

.header {
	display: grid;
	grid-template-columns: 1020px 380px;
	grid-gap: 10px;
	padding: 10px;
	background-color: var(--main-color);
}
.header a {
	color: var(--header-color);
	text-decoration: none;
}
.mainHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px auto;
	height: 60px;
}
.mainHeader h1 {
	margin: 0;
}
.clockWrapper {
	display: flex;
	justify-content: center;
}

/* Media */

@media only all and (max-width: 1430px) {
	.header {
		grid-template-columns: 2fr 1fr;
	}
}
@media only all and (max-width: 900px) {
	.mainHeader {
		margin: 0 auto;
	}
}
@media only all and (max-width: 750px) {
	.header {
		grid-gap: 5px;
		grid-template-columns: 1fr;
		margin-bottom: 0;
		padding: 5px;
	}
	.mainHeader {
		height: 50px;
	}
}
@media only all and (max-width: 500px) {
	.header {
		padding: 5px;
	}
}
