@import '../../css/variables.css';

.header {
	position: relative;
	display: grid;
	grid-template-columns: 1030px 200px 200px;
	padding: 5px 0;
	background-color: var(--main-color);
	height: 70px;
}
.header a {
	text-decoration: none;
}
.mainHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px auto;
	height: 100%;
}
.mainHeader h1 {
	margin: 0;
	color: var(--header-color);
	font-size: var(--h1Size);
}
.headerClockWrapper {
	justify-self: center;
}

/* Media */

@media only all and (max-width: 1450px) {
	.header {
		grid-template-columns: 4fr minmax(175px, 1fr) minmax(175px, 1fr);
	}
}
@media only all and (max-width: 750px) {
	.header {
		grid-template-columns: 120px 1fr 120px;
		height: 50px;
	}
	.headerClockWrapper {
		order: -1;
		display: flex;
		align-items: center;
		justify-self: left;
		padding-left: 10px;
	}
}
@media only all and (max-width: 450px) {
	.header {
		grid-template-columns: 1fr;
		height: 50px;
	}
	.headerClockWrapper {
		display: none;
	}
}
