.mainWrapper {
	display: grid;
	grid-template-columns: minmax(1020px, auto) minmax(380px, auto);
}
.rightContent {
	max-height: calc(100vh - 90px);
	display: flex;
	flex-direction: column;
}
.leftContent {
	max-height: calc(100vh - 90px);
	display: flex;
	flex-direction: column;
}

/* Media */

@media only all and (max-width: 1430px) {
	.mainWrapper {
		grid-template-columns: 2fr 1fr;
	}
}
@media only all and (max-width: 750px) {
	.mainWrapper {
		grid-template-columns: 1fr;
		padding: 5px;
	}
	.leftContent {
		order: 1;
	}
	.rightContent {
		order: -1;
	}
}
