.mainWrapper {
	display: grid;
	grid-template-columns: 1030px 400px;
	height: var(--content-height);
	overflow: hidden;
}

.leftContent {
	height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
}

/* Media */

@media only all and (max-width: 1450px) {
	.mainWrapper {
		grid-template-columns: 2fr 1fr;
	}
}
@media only all and (max-width: 750px) {
	.mainWrapper {
		position: relative;
		grid-template-columns: 1fr;
	}
}
