.mainWrapper {
	display: grid;
	grid-template-columns: 1030px 400px;
	height: calc(100vh - 80px);
	overflow: hidden;
}
.rightContent {
	display: grid;
	grid-template-rows: 180px calc(100% - 180px);
	grid-template-columns: 400px;
}
.leftContent {
	height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
}

/* Media */

@media only all and (max-width: 1430px) {
	.mainWrapper {
		grid-template-columns: 2fr 1fr;
	}
}
@media only all and (max-width: 750px) {
	.mainWrapper {
		grid-template-columns: 1fr;
		padding: 5px;
	}
	.leftContent {
		order: 1;
	}
	.rightContent {
		order: -1;
	}
}
