@import '../../css/variables.css';

.chapterItem {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 5px;
	height: 40px;
	cursor: pointer;
	font-weight: 500;
	border-radius: var(--border-mini-radius);
}
.chapterItem:first-child {
	margin-top: 7px;
}

.chapterItemContent {
	box-shadow: 0 0 4px var(--hover-color);
	background-color: var(--main-third-color);
	border-radius: var(--border-mini-radius);
	display: flex;
	padding: 5px 45px 5px 5px;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: all 0.2s ease;
}
.chapterItemContent:active {
	transform: scale(0.97);
}
.chapterItemContent:active + .chapterItemMenu {
	transform: scale(0.96) translateX(-14%);
}
.chapterItemContent:hover {
	box-shadow: 0 0 8px var(--hover-color);
}
.chapterContentOverflow::after {
	content: '';
	position: absolute;
	right: 40px;
	height: 100%;
	width: 40px;
	background: linear-gradient(90deg, transparent, var(--main-third-color));
}
.chapterItemContent span {
	width: 100%;
	overflow: hidden;
	height: 1.2em;
	font-size: var(--defaultSize);
}
.editChapterInputWrapper {
	position: relative;
	width: 100%;
	z-index: 2;
}
.editChapterInputWrapper img {
	position: absolute;
	right: 0;
}
.chapEditInput {
	width: 100%;
	height: 30px;
	padding: 1px 33px 1px 3px;
	box-shadow: 0 0 4px var(--hover-color);
	border: 0;
	border-radius: var(--border-mini-radius);
}
.chapEditInput:focus-visible {
	outline: 0;
	box-shadow: 0 0 8px var(--hover-color);
}

/* chapterMenu */
.chapterItemMenu {
	position: absolute;
	right: 0;
	height: 100%;
	width: 40px;
	padding: 0 5px;
	display: grid;
	grid-template-columns: 30px 30px 30px;
	grid-gap: 5px;
	align-items: center;
	overflow: hidden;
	background-color: var(--inactive-color);
	border-radius: var(--border-mini-radius);
	transition: width 0.4s ease-in-out, transform 0.2s ease;
	z-index: 3;
}
.chapterSlideIcon {
	transition: transform 0.25s ease-in;
}
.chapterItemMenu img {
	width: 30px;
	height: 30px;
}
.chapterSlideIcon:hover,
.chapterEditIcon:hover {
	filter: drop-shadow(0 0 2px var(--button-color));
}
.chapterDelIcon:hover {
	filter: drop-shadow(0 0 6px #ff4940);
}
.chapterItemMenu img:active {
	transform: scale(0.95);
}
.chapterMenuActive {
	width: 110px;
}
.chapterItemMenu.chapterMenuActive .chapterSlideIcon {
	transform: rotate(179deg);
}

/* MenuIcons */
.chapterDelIcon {
	transition: transform 0.2s ease;
}

/* Animation */
.chap-item-appear {
	transform: scale(0.5);
	opacity: 0;
}
.chap-item-appear-done {
	transform: scale(1);
	opacity: 1;
}
.chap-item-enter {
	transform: scale(0.5);
	opacity: 0;
}
.chap-item-enter-active {
	transform: scale(1);
	opacity: 1;
}
.chap-item-exit {
	transform: scale(1);
	opacity: 1;
}
.chap-item-exit-active {
	transform: scale(0.5);
	opacity: 0;
}
