@import '../../css/variables.css';

.chapterItem {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 5px;
	height: 40px;
	cursor: pointer;
	font-weight: 500;
	transition: all 0.2s ease;
}
.chapterItem:first-child {
	margin-top: 7px;
}
.chapterItemContent {
	background-color: var(--main-third-color);
	border-radius: var(--border-mini-radius);
	display: flex;
	padding: 5px 45px 5px 5px;
	align-items: center;
	width: 100%;
	height: 100%;
}
.chapterItemContent::after {
	content: '';
	position: absolute;
	right: 40px;
	height: 100%;
	width: 40px;
	background: linear-gradient(90deg, transparent, var(--main-third-color));
}
.chapterItemContent span {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 1em;
}
.chapterItemContent span#text {
	max-height: 1em;
}
.editChapterInputWrapper {
	position: relative;
	width: 100%;
	z-index: 2;
}
.editChapterInputWrapper img {
	position: absolute;
	right: 0;
}
.chapEditInput {
	width: 100%;
	height: 30px;
	padding: 1px 33px 1px 3px;
	box-shadow: 0 0 4px var(--hover-color);
	border: 0;
	border-radius: var(--border-mini-radius);
}
.chapEditInput:focus-visible {
	outline: 0;
	box-shadow: 0 0 8px var(--hover-color);
}
.chapterItemContent:active,
.chapterItemContent:active + .chapterItemMenu {
	transform: scale(0.97);
}

/* chapterMenu */
.chapterItemMenu {
	position: absolute;
	right: 0;
	height: 100%;
	width: 40px;
	padding: 0 5px;
	display: grid;
	grid-template-columns: 30px 30px 30px;
	grid-gap: 5px;
	align-items: center;
	overflow: hidden;
	background-color: var(--inactive-color);
	border-radius: var(--border-mini-radius);
	transition: width 0.4s ease-in;
	z-index: 3;
}
.chapterSlideIcon {
	transition: transform 0.4s ease-in-out;
}
.chapterItemMenu img {
	width: 30px;
	height: 30px;
}
.chapterSlideIcon:hover,
.chapterEditIcon:hover {
	filter: drop-shadow(0 0 2px var(--button-color));
}
.chapterDelIcon:hover {
	filter: drop-shadow(0 0 6px #ff4940);
}
.chapterItemMenu img:active {
	transform: scale(0.95);
}
.chapterMenuActive {
	width: 105px;
}
.chapterItemMenu.chapterMenuActive .chapterSlideIcon {
	transform: rotate(179deg);
}

/* MenuIcons */
.chapterDelIcon {
	transition: transform 0.2s ease;
}

/* nameHoverWrapper */
.nameHoverWrapper {
	position: absolute;
	transition: opacity 0.5s ease;
	opacity: 0;
	word-wrap: break-word;
	height: 0;
	cursor: default;
	z-index: 5;
	width: 90%;
	left: 3%;
	bottom: 40px;
	filter: drop-shadow(0 0 6px #000);
	background-color: var(--inactive-color);
	border-radius: var(--border-mini-radius);
}
.nameHoverContainer {
	padding: 10px;
}
.nameHoverWrapper,
.chapterItem:hover .nameHoverWrapper .nameHoverContainer:hover {
	visibility: hidden;
	height: 0;
	padding: 0;
}
.chapterItem:hover .nameHoverWrapper {
	visibility: visible;
	height: auto;
	opacity: 1;
}
.chapterItem:hover .nameHoverWrapper:after {
	content: '';
	border: solid transparent;
	position: absolute;
	top: 100%;
	left: 15px;
	border-top-color: var(--inactive-color);
	border-width: 10px;
	z-index: 4;
}
