.dateWrapper {
	width: 180px;
	height: 70px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #b8dbff;
	border-radius: 2px;
	font-size: 28px;
}
.date {
	display: flex;
	justify-content: space-between;
	font-size: 22px;
}
.timeWrapper {
	text-align: center;
}
