@import '../../css/variables.css';

.dateWrapper {
	width: 140px;
	height: 60px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--main-third-color);
	color: var(--main-color);
	border-radius: var(--border-mini-radius);
	font-size: 24px;
	opacity: 0;
	animation: clockFadeIn 0.2s ease-in-out forwards;
}
.date {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}
.timeWrapper {
	text-align: center;
}

/* Media */
@media only all and (max-width: 750px) {
	.dateWrapper {
		font-size: 18px;
		width: 110px;
		height: 40px;
	}
	.date {
		font-size: 16px;
	}
}

@keyframes clockFadeIn {
	from {
		transform: scale(0.95);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
