@import '../../css/variables.css';

.burgerMenu {
	position: absolute;
	right: 5px;
	top: 5px;
	height: 40px;
	width: 40px;
	display: none;
	cursor: pointer;
}
.burgerItem {
	position: absolute;
	width: 38px;
	height: 6px;
	background-color: var(--button-color);
	border-radius: var(--border-mini-radius);
	transition: transform 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
.burgerItem:nth-child(1) {
	top: 5px;
}
.burgerItem:nth-child(2) {
	top: 17px;
}
.burgerItem:nth-child(3) {
	bottom: 5px;
}

.burgerMenuActive .burgerItem:nth-child(1) {
	animation: normal 0.5s ease-in-out burgerItem1Open forwards;
}
.burgerMenuActive .burgerItem:nth-child(2) {
	animation: normal 0.5s ease-in-out burgerItem2Open forwards;
}
.burgerMenuActive .burgerItem:nth-child(3) {
	animation: normal 0.5s ease-in-out burgerItem3Open forwards;
}

.burgerMenuClose .burgerItem:nth-child(1) {
	animation: normal 0.5s ease-in-out burgerItem1Close forwards;
}
.burgerMenuClose .burgerItem:nth-child(2) {
	animation: normal 0.5s ease-in-out burgerItem2Close forwards;
}
.burgerMenuClose .burgerItem:nth-child(3) {
	animation: normal 0.5s ease-in-out burgerItem3Close forwards;
}

/* Media */
@media only all and (max-width: 450px) {
	.burgerMenu {
		display: flex;
		justify-content: center;
	}
}

/* Animation */
@keyframes burgerItem1Open {
	from {
		transform: none;
	}
	50% {
		transform: translateY(13px);
	}
	to {
		transform: translateY(13px) rotate(45deg);
	}
}
@keyframes burgerItem2Open {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes burgerItem3Open {
	from {
		transform: none;
	}
	50% {
		transform: translateY(-11px);
	}
	to {
		transform: translateY(-11px) rotate(-45deg);
	}
}

@keyframes burgerItem1Close {
	from {
		transform: translateY(13px) rotate(45deg);
	}
	50% {
		transform: translateY(13px);
	}
	to {
		transform: none;
	}
}
@keyframes burgerItem2Close {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes burgerItem3Close {
	from {
		transform: translateY(-11px) rotate(-45deg);
	}
	50% {
		transform: translateY(-11px);
	}
	to {
		transform: none;
	}
}
