@import '../../css/variables.css';

.cardDescriptionWrapper {
	width: 100%;
	height: calc(100vh - 90px);
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--main-second-color);
	padding: 15px;
	color: var(--header-color);
}
.cardDescrWrapper {
	display: flex;
	flex-direction: column;
	width: 600px;
	min-height: 350px;
	background-color: var(--main-color);
	border-radius: var(--border-radius);
	padding: 15px;
}
.cardDescription {
	margin: 0;
	overflow-wrap: break-word;
}
.cardDescriptionLink {
	color: var(--header-color);
	overflow-wrap: break-word;
}
.editIcon {
	width: 50px;
	position: absolute;
	cursor: pointer;
	z-index: 5;
	transition: all 0.2s ease;
}
.editIcon:hover {
	filter: drop-shadow(0px 0px 1px var(--button-color));
}
.editIcon:active {
	transform: scale(0.95);
}
.cardDescriptionHeaderWrapper {
	position: relative;
}
.descriptionDateWrapper {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 18px;
	font-weight: 500;
	background-color: var(--main-third-color);
	border-radius: var(--border-mini-radius);
	color: var(--main-color);
	padding: 5px;
	cursor: default;
}
.descrTimeWrapper,
.descrDateWrapper {
	text-align: center;
}
.dateDescr {
	font-size: 14px;
	font-weight: normal;
}
.cardDescriptionHeader {
	text-align: center;
}
.cardHeader {
	margin: 0;
}
.cardDescButWrapper {
	padding: 15px 0;
}
