@import '../../css/variables.css';

.cardDescriptionWrapper {
	align-items: center;
}
.cardDescriptionWrapper .cardDescrWrapper {
	width: 600px;
	padding: 15px;
}
.cardDescription {
	margin: 0;
	overflow-wrap: break-word;
}
.cardDescriptionLink {
	color: var(--header-color);
	overflow-wrap: break-word;
}
.cardDescriptionHeaderWrapper {
	position: relative;
}
.cardDescriptionHeaderWrapper h2.cardDescriptionHeader {
	text-align: left;
}
.cardDescriptionContainerHeader {
	font-size: var(--h4Size);
	font-weight: 600;
	margin: 0 0 5px;
}
.cardDescriptionLink {
	font-size: var(--defaultSize);
}
.cardDescriptionContainer {
	margin-bottom: 15px;
}
.cardDescription {
	font-size: var(--defaultSize);
}
.cardDescButWrapper {
	display: flex;
	justify-content: space-around;
}
.cardDescBut {
	padding: 10px 20px;
	width: 40%;
}

/* created Date */
.descriptionDateWrapper {
	float: right;
	margin: 0 0 10px 10px;
	font-size: var(--defaultSize);
	font-weight: 500;
	width: 110px;
	height: 60px;
	background-color: var(--main-third-color);
	border-radius: var(--border-mini-radius);
	color: var(--main-color);
	padding: 5px;
	cursor: default;
	text-align: center;
}
.dateDescr {
	font-size: var(--descrSize);
	font-weight: 300;
}

/* Media */
@media only all and (max-width: 750px) {
	.cardDescriptionWrapper .cardDescrWrapper {
		width: 100%;
	}
	.cardDescBut {
		padding: 10px;
	}
}
@media only all and (max-width: 450px) {
	.cardDescButWrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}
	.cardDescBut {
		padding: 10px 5px;
		width: 100%;
	}
}
