@import '../../css/variables.css';

.cardDescriptionWrapper {
	align-items: center;
}
.cardDescriptionWrapper .cardDescrWrapper {
	width: 600px;
	padding: 15px;
}
.cardDescription {
	margin: 0;
	overflow-wrap: break-word;
}
.cardDescriptionLink {
	color: var(--header-color);
	overflow-wrap: break-word;
}
.cardDescriptionHeaderWrapper {
	position: relative;
}
.cardDescriptionHeaderWrapper h2.cardDescriptionHeader {
	text-align: left;
}
.cardDescriptionContainerHeader {
	font-size: 20px;
	font-weight: 600;
	margin: 0 0 10px;
}
.cardDescriptionContainer {
	margin-bottom: 15px;
}
.cardDescButWrapper {
	display: flex;
	justify-content: space-around;
}
.cardDescBut {
	padding: 10px 20px;
	width: 40%;
}

/* created Date */
.descriptionDateWrapper {
	float: right;
	margin: 0 0 10px 10px;
	font-size: 16px;
	font-weight: 500;
	width: 110px;
	height: 60px;
	background-color: var(--main-third-color);
	border-radius: var(--border-mini-radius);
	color: var(--main-color);
	padding: 5px;
	cursor: default;
	text-align: center;
}
.dateDescr {
	font-size: 14px;
	font-weight: 300;
}

/* .editIcon {
	width: 50px;
	position: absolute;
	cursor: pointer;
	z-index: 5;
	transition: all 0.2s ease;
}
.editIcon:hover {
	filter: drop-shadow(0px 0px 1px var(--button-color));
}
.editIcon:active {
	transform: scale(0.95);
} */
