body {
	--main-color: #2787d6;
	--main-second-color: #4899db;
	--main-third-color: rgb(247, 247, 247);
	--scroll-color: #d47f00;
	--button-color: #ff9601;
	--button-border-color: #d47f00;
	--hover-color: #d47f00;
	--icon-active-color: #fefffe;
	--icon-color: #a5caef;
	--inactive-color: #a2ccee;
	--green-color: #139749;
	--red-color: #ff251f;
	--text-description-color: #cdcdce;
	--header-color: #dbffff;

	/* Content-height */
	--content-height: calc(100vh - 70px);

	/* Border */
	--border-radius: 10px;
	--border-mini-radius: 5px;
	--border-input-radius: 2px;

	/* Spinner */
	--spinner-color: #fff;
	--spinner-line-width: 4px;

	/* Scroll */
	--scroll-width: 10px;

	/* Fonts */
	--descrSize: 14px;
	--defaultSize: 16px;
	--butSize: 18px;
	--h1Size: 40px;
	--h2Size: 30px;
	--h3Size: 22px;
	--h4Size: 18px;
}

@media only all and (max-width: 750px) {
	body {
		--content-height: calc(100vh - 50px);

		/* Fonts */
		--butSize: 16px;
		--h1Size: 30px;
		--h2Size: 25px;
		--h3Size: 20px;
	}
}
