body {
	--main-color: #2787d6;
	--main-second-color: #4899db;
	--main-third-color: #fff;
	--scroll-color: #d47f00;
	--button-color: #ff9601;
	--button-border-color: #d47f00;
	--hover-color: #d47f00;
	--icon-active-color: #fefffe;
	--icon-color: #a5caef;
	--inactive-color: #a2ccee;
	--green-color: #139749;
	--red-color: #ff251f;
	--text-description-color: #cdcdce;
	--header-color: #dbffff;

	/* border */
	--border-radius: 14px;
	--border-mini-radius: 7px;

	/* Spinner */
	--spinner-color: #fff;
	--spinner-line-width: 4px;

	/* Scroll */
	--scroll-width: 10px;
}
