@import '../../css/variables.css';

.addChapterContainer {
	width: 100%;
	position: relative;
}
.addChapterInput {
	width: 100%;
	height: 40px;
	border: 0;
	border-radius: var(--border-input-radius);
	padding: 5px 40px 5px 3px;
	transition: box-shadow 0.3s ease;
}
.addChapterInput:focus-visible,
.addChapterInput:focus-visible:hover {
	outline: 0;
	box-shadow: 0 0 10px var(--hover-color);
}
.addChapterInput:hover {
	outline: 0;
	box-shadow: 0 0 4px var(--hover-color);
}
.addChapterIcon {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
