.onMainButWrapper {
	display: flex;
	justify-content: center;
}
.userPageContainer img {
	width: 100px;
	border-radius: var(--border-mini-radius);
}
.userPageElement {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.userPageElement:last-of-type {
	margin-bottom: 0;
}
.userPageName {
	font-size: 20px;
}
