@import '../../css/variables.css';

.userPageContainer img {
	width: 100px;
	border-radius: var(--border-mini-radius);
}
.userPageContainer h2 {
	font-size: var(--h2Size);
}
.userPageElement {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.userPageElement:last-of-type {
	margin-bottom: 0;
}
.userPageName {
	font-size: var(--defaultSize);
}
.userPageName h3 {
	font-size: var(--h3Size);
}
