.main404 {
	height: calc(100vh - 90px);
	padding: 30px 0;
	max-width: 600px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 100px 50px 100px;
}
.header404 h2 {
	margin: 0;
	font-size: 50px;
	text-align: center;
}
.message404 {
	text-align: center;
}
.but404 {
	display: flex;
	justify-content: center;
	height: 60px;
	align-self: center;
}
