@import './css/variables.css';

* {
	box-sizing: border-box;
}
#root {
	background-color: var(--main-second-color);
	min-height: 100vh;
}
.content {
	margin: 0 auto;
	background-color: var(--main-second-color);
	max-width: 1430px;
	height: 100vh;
	overflow: hidden;
}
.pageFadeIn {
	animation: 0.3s fadeIn forwards;
}
.pageFadeOut {
	animation: 0.3s fadeOut forwards;
}

@media only all and (max-width: 750px) {
	.content {
		height: 100vh;
	}
}

/* KeyFrames */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translateY(0px);
	}
	to {
		transform: translateY(20px);
		opacity: 0;
	}
}
