@import './css/variables.css';

* {
	box-sizing: border-box;
}
#root {
	background-color: #dcdcdc;
	height: 100vh;
}
.content {
	margin: 0 auto;
	background-color: var(--main-second-color);
	max-width: 1430px;
}
.but {
	border-radius: var(--border-mini-radius);
	cursor: pointer;
	transition: all 0.3s ease;
	border: solid 2px transparent;
}
/* .greenBut {
	background-color: #39e24d;
}
.greenBut:hover {
	border-color: #008110;
}

.redBut {
	background-color: #ff5757;
}
.redBut:hover {
	border-color: #a60800;
} */
.but:hover {
	border-color: var(--button-border-color);
}
